:root {
  --color-primary-label: #333;
  --color-secondary-label: rgba(51, 51, 51, 0.8);
  --color-tertiary-label: rgba(51, 51, 51, 0.6);
  --color-quaternary-label: rgba(51, 51, 51, 0.3);
  --color-link: #13386c;
  --color-inverted-label: #fff;
  --color-red: #ff2441;
  --color-white: #fff;
  --color-background: #fff;
  --color-active-background: #f8f8f8;
  --color-border: rgba(0, 0, 0, 0.08);
  --color-shadow-background: #fafafa;
  --color-shadow-border: rgba(0, 0, 0, 0.02);
  --elevation-low-background: #fff;
  --elevation-high-background: #fff;
  --elevation-note-background: #fff;
  --material-thin-background: rgba(51, 51, 51, 0.1);
  --material-thick-background: rgba(51, 51, 51, 0.9);
  --mask-backdrop: rgba(0, 0, 0, 0.25);
  --mask-backdrop-in-popover: rgba(0, 0, 0, 0.1);
  --mask-paper: hsla(0, 0%, 100%, 0.98);
}
* {
  box-sizing: border-box;
  -webkit-user-select: auto;
  user-select: auto;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  color: var(--darkreader-text--color-primary-label);
  background-color: var(--darkreader-bg--color-background);
  font-size: 14px;
  width: 100vw !important;
  max-width: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial,
    PingFang SC, PingFang TC, PingFang HK, Microsoft Yahei, Microsoft JhengHei;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  border-color: #766f65;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.layout.limit[data-v-0d9cacec] {
  max-width: var(--aed1db14);
  background-color: var(--darkreader-bg--color-background);
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.header-container[data-v-e421175c] {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 72px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
header[data-v-e421175c] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--2cc947cc);
  height: 72px;
  z-index: 10;
}
header.mask-paper[data-v-e421175c] {
  border-bottom-color: rgb(64, 67, 69);
  background: var(--darkreader-bg--mask-paper);
  border-bottom: 0.5px solid #fff;
  backdrop-filter: blur(20px);
}
header[data-v-e421175c] {
  padding: 0 32px;
}
a {
  text-decoration-color: initial;
  background-color: transparent;
  text-decoration: none;
  color: #428ee6;
}
img {
  border-style: none;
}
a:-webkit-any-link {
  cursor: pointer;
}

.toolbox[data-v-13dfa88c] {
  width: 24px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
}

.input-box[data-v-235c6104] {
  width: 533.33333px;
}
.input-box[data-v-235c6104] {
  height: 40px;
  position: fixed;
  width: 533.33333px;
  left: 50%;
  transform: translate(-50%);
}

.search-input[data-v-235c6104] {
  padding: 0 84px 0 16px;
  width: 100%;
  height: 100%;
  border: none;
  background: #333;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-primary-label);
  caret-color: var(--color-red);
  background: var(--color-active-background);
  border-radius: 999px;
}
.search-input[data-v-235c6104]:focus {
  outline: none; /* 去掉聚焦时的虚线边框 */
  border: none; /* 去掉边框 */
}

.search-input[data-v-235c6104]::placeholder {
  color: var(--color-quaternary-label);
}

input::-webkit-input-placeholder {
  text-overflow: inherit;
  white-space-collapse: preserve;
  text-wrap: nowrap;
  overflow-wrap: normal;
  line-height: initial !important;
  -webkit-user-modify: read-only !important;
  overflow: hidden;
}
::-webkit-input-placeholder {
  -webkit-text-security: none;
  direction: inherit !important;
  pointer-events: none !important;
  text-orientation: inherit !important;
  writing-mode: inherit !important;
}

.input-button[data-v-235c6104] {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-secondary-label);
}

.input-button .close-icon[data-v-235c6104],
.input-button .search-icon[data-v-235c6104] {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-secondary-label);
}
.search-icon[data-v-235c6104] {
  margin-right: 4px;
}
.reds-icon[data-v-7c2d5134] {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.reds-button-new.has-icon.pure-icon.large {
  padding: 0 10px;
}
.reds-button-new.has-icon.pure-icon {
  border-radius: 50%;
}
.min-width-search-icon[data-v-235c6104] {
  cursor: pointer;
  display: none;
}
.reds-button-new[data-v-235c6104] {
  height: 40px !important;
  color: var(--color-secondary-label);
  font-size: 16px;
  line-height: 120%;
  background: transparent;
}
.reds-button-new {
  position: relative;
  user-select: none;
  white-space: nowrap;
  outline: none;
  border: none;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

.reds-button-new.has-icon.pure-icon .reds-button-new-box {
  padding: 0;
}
.reds-button-new[data-v-235c6104] .reds-button-new-box {
  font-weight: 400;
}
.reds-button-new-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reds-button-new.has-icon.pure-icon .reds-button__icon {
  margin-right: 0;
}
.reds-button-new.large .reds-icon,
.reds-button-new.large img {
  width: 20px;
  height: 20px;
}

.right[data-v-e421175c] {
  display: flex;
}
.menu[data-v-30cdccce] {
  display: flex;
}

.normal-mode .dropdown-nav[data-v-30cdccce] {
  display: block;
}
.reds-button-new[data-v-30cdccce] {
  height: 40px !important;
  color: rgba(51, 51, 51, 0.8);
  font-size: 16px;
  line-height: 120%;
  padding: 0 16px;
  background: transparent;
}
.reds-button-new.text {
  border: none;
}
.reds-button-new {
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  font-weight: 500;
}

.reds-button-new[data-v-30cdccce] .reds-button-new-box {
  font-weight: 400;
}
.reds-button-new-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu-icon-dropdown-nav {
  display: none;
}
.reds-button-new.has-icon.pure-icon.large {
  padding: 0 10px;
}
.reds-button-new.has-icon.pure-icon {
  border-radius: 50%;
}
.reds-button-new[data-v-30cdccce] {
  height: 40px !important;
  color: rgba(51, 51, 51, 0.8);
  font-size: 16px;
  line-height: 120%;
  background: transparent;
}
.reds-button-new {
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  outline: none;
  border: none;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  font-weight: 500;
}
.reds-button-new.has-icon.pure-icon .reds-button-new-box {
  padding: 0;
  font-weight: 400;
}
.reds-button-new-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* 02 main area */
.main-container[data-v-0d9cacec] {
  display: flex;
}

.side-bar[data-v-493d8162] {
  width: 266.66667px;
  margin-left: 16px;
}

/* 02.1 left area */
.side-bar[data-v-493d8162] {
  height: calc(100vh - 72px);
  overflow-y: scroll;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 16px;
  margin-top: 72px;
  position: fixed;
}
.channel-list[data-v-493d8162] {
  min-height: calc(100vh - 140px);
  user-select: none;
}
ul[data-v-493d8162] {
  margin: 0;
  padding: 0;
}
.channel-list li[data-v-493d8162] {
  width: 266.664px;
  padding-left: 16px;
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}
[data-v-493d8162] .active-channel {
  background-color: var(--color-active-background);
  border-radius: 999px;
}
li[data-v-493d8162] {
  list-style: none;
}
[data-v-493d8162] .link-wrapper {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
}
a[data-v-493d8162] {
  color: var(--color-tertiary-label);
  font-size: 12px;
  font-weight: 400;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.img-wrapper[data-v-493d8162] {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: var(--color-primary-label);
}

[data-v-493d8162] .channel {
  font-size: 16px;
  font-weight: 600;
  margin-left: 14px;
  color: var(--color-primary-label);
}
.channel-list li[data-v-493d8162] {
  list-style: none;
  padding-left: 16px;
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

[data-v-493d8162] .link-wrapper {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
}
a[data-v-493d8162] {
  color: var(--color-tertiary-label);
  font-size: 12px;
  font-weight: 400;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.img-wrapper[data-v-493d8162] {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: var(--color-primary-label);
}

.channel-list li[data-v-493d8162]:last-child {
  margin-bottom: 0;
}
.divider[data-v-870b3af4] {
  list-style: none;
  height: 0;
  border: solid rgba(0, 0, 0, 0.08);
  border-width: 1px 0 0;
}

.information[data-v-5dbc6d96] {
  display: inline-block;
  width: 100%;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  font-weight: 400;
  padding: 0 8px 0 16px;
  line-height: 140%;
}
.icon-list[data-v-5dbc6d96] {
  cursor: pointer;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.vertical-center[data-v-5dbc6d96] {
  display: inline-flex;
  align-items: center;
}

a[data-v-5dbc6d96] {
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  font-weight: 400;
}
.icp-info[data-v-5dbc6d96] {
  word-break: break-word;
  margin: 0;
  font-size: 12px;
}
.corp-info[data-v-5dbc6d96] {
  font-size: 12px;
  margin: 32px 0;
}
.corp-info[data-v-5dbc6d96] {
  font-size: 12px;
  margin: 32px 0;
}
/* 02.2 right area */
.feeds-page[data-v-201c8eab] {
  flex: 1;
  padding: 0 var(--2df2a742);
  overflow-y: scroll;
  padding-top: 72px;
  /* right_side */
  padding-left: 300px;
  min-width: calc(100vw - 160px);
}
.feeds-page .channel-container[data-v-201c8eab] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}
.channel-scroll-container[data-v-1ae1dc56],
.channel[data-v-1ae1dc56] {
  display: flex;
  -webkit-user-select: none;
  align-items: center;
}
.channel-scroll-container[data-v-1ae1dc56] {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  background-color: #fff;
  white-space: nowrap;
  height: 72px;
}
.content-container[data-v-2ec4b60c] {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  color: var(--color-secondary-label);
}
.active[data-v-1ae1dc56] {
  font-weight: 600;
}
.active[data-v-1ae1dc56],
.channel[data-v-1ae1dc56]:hover {
  background: var(--color-active-background);
  border-radius: 999px;
  color: #333;
}
.channel[data-v-1ae1dc56] {
  height: 40px;
  justify-content: center;
  padding: 0 16px;
  cursor: pointer;
}
.channel-scroll-container[data-v-1ae1dc56],
.channel[data-v-1ae1dc56] {
  display: flex;
  -webkit-user-select: none;
  align-items: center;
}
.channel[data-v-1ae1dc56] {
  height: 40px;
  justify-content: center;
  padding: 0 16px;
  cursor: pointer;
}
.channel-scroll-container[data-v-1ae1dc56],
.channel[data-v-1ae1dc56] {
  display: flex;
  -webkit-user-select: none;
  align-items: center;
}

.feeds-container[data-v-a4606bec] {
  width: 100%;
  position: relative;
  transition: width 0.5s;
  margin: 0 auto;
}
.note-item[data-v-09e2c932] {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--3abec350);
}
section {
  display: block;
}
div {
  display: block;
}
.cover[data-v-09e2c932] {
  position: relative;
  width: var(--3abec350);
  display: flex;
  border-radius: var(--148566c3);
  overflow: hidden;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.05);
  margin-left: 0.5px;
  transition: background 0.2s;
  transform: translateZ(0);
}
.cover .play-icon[data-v-09e2c932] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.footer[data-v-09e2c932] {
  padding: 12px;
}
.title[data-v-09e2c932] {
  margin-bottom: 8px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-primary-label);
}
.author-wrapper[data-v-09e2c932] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  color: #666;
  font-size: 12px;
  transition: color 1s;
}
.author-wrapper .author[data-v-09e2c932] {
  display: flex;
  align-items: center;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 12px;
}
.author-wrapper .author-avatar[data-v-09e2c932] {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 0.5px solid #e6e6e6;
}
.like-wrapper[data-v-8371d3b6] {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.like-lottie[data-v-8371d3b6] {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.7);
}
.author-wrapper .author[data-v-09e2c932] {
  display: flex;
  align-items: center;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 12px;
}
.author-wrapper .author-avatar[data-v-09e2c932] {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 0.5px solid #e6e6e6;
}
[data-v-09e2c932] .like-wrapper .count {
  margin-left: 2px;
}
.note-item[data-v-09e2c932] {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--3abec350);
}
.reload[data-v-6818adf6] {
  right: 32px;
  bottom: 32px;
}
.reload[data-v-6818adf6] {
  width: 44px;
  height: 44px;
  background: var(--color-background);
  border: 0.5px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
  border-radius: 100px;
  color: var(--color-secondary-label);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: background 0.2s;
  cursor: pointer;
}
.back-top.active[data-v-dd7843e4] {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.back-top[data-v-dd7843e4] {
  right: 32px;
  bottom: 84px;
}
.back-top[data-v-dd7843e4] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 44px;
  height: 44px;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
  border-radius: 44px;
  cursor: pointer;
  color: var(--color-secondary-label);
  transition: all 0.3s;
  z-index: 10;
  background: var(--color-background);
}
.feeds-loading[data-v-01606bb6] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  font-size: 12px;
  color: var(--color-tertiary-label);
  visibility: hidden;
}
.bottom-menu[data-v-e7e127b8] {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--color-background);
  display: none;
  padding-bottom: env(safe-area-inset-bottom);
}
.channel-list[data-v-e7e127b8] {
  display: flex;
  color: rgba(51, 51, 51, 0.6);
}
.active[data-v-e7e127b8] {
  color: #333;
}
.channel[data-v-e7e127b8] {
  flex-grow: 1;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}
.login-btn[data-v-e18ba9a6] {
  font-size: 16px;
  height: 48px;
  width: 100%;
  font-weight: 600;
}
/* login button */
.reds-button-new.primary {
    background-color: #ff2e4d;
    color: #fff;
}
